body{
    background-image: url("https://i.imgur.com/TFiEZsh.png");
    background-repeat: no-repeat;
    background-attachment:fixed;
    height:min-content;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: hsl(330, 50%, 50%);
    position: absolute;
    top:50px;
    left: 740px;
    background-color: rgb(200,200,200);
    border-radius: 2em;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: rgb(158, 20, 212);
}
h1:hover{
    opacity: 0.8;
}

#stats{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background: rgba(200,200,200,0.9);
    border-radius: 1em;
    padding-left: 25px;
    padding-right: 25px;
    border-style: solid;
    border-color: rgb(158, 20, 212);
    position: absolute;
    z-index: 1;

    left:45px;

}



.rightcolumn{
    position: absolute;
    left:500px;
    top: 200px;
    background-color: rgba(200,200,200,0.9);
    border-style: solid;
    border-color:rgb(158, 20, 212);
    border-radius: 1em;
    font-family: 'Courier New', Courier, monospace;
    width: 600px;
    height: 300px;
    padding-left: 50px;
    padding-right: 50px;
}
h2 {
    text-decoration: underline;
    color: #bf4080;
}
.about{
    position: absolute;
    left:500px;
    top:520px;
    width:600px;
    padding-left: 50px;
    padding-right: 50px;
    height:200px;
    background-color: rgba(200,200,200,0.9);
    border-style: solid;
    border-color: rgb(158, 20, 212);
    border-radius: 1em;
    font-family: 'Courier New', Courier, monospace;
    z-index: 1;
}
.image:hover{
    position:relative;
    top: -25px;
    left: 25px;
    width: 125px;
    height:auto;
    display:block;
    z-index: 999;
    opacity: 0.7;
}


#github{
    position: absolute;
    z-index: 2;
    top:600px;
    left:525px;
    display:block;
  
}
#instagram {
    position: absolute;
    z-index: 2;
    top:600px;
    left:700px;
}
#linkdin{
    position: absolute;
    z-index: 2;
    top:600px;
    left:870px;
}
#email{
    position: absolute;
    z-index: 2;
    top:600px;
    left:1050px;
}
h3{
    color: hsl(330, 50%, 50%);
    
    
}